@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Roboto";
  src: url("../font/RobotoMono-Medium.ttf");
}

body {
  overflow: hidden;
}

h1 {
  @apply text-white font-Roboto text-lg select-none;
}
